@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700|Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  font-family: 'Pontano Sans', arial, sans-serif;
  color: #474747;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  text-align: center;
  min-width: 90px;
  width: 10%;
  height: 20%;
  font-family: 'Pontano Sans', sans-serif;
  font-size: .8em;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  color: #e7f3f2;
  border: 1px solid #ab171e;
	background-color: #ab171e;
	border-radius: 3px;
	background-image: linear-gradient(#d62229, #ab171e);
  background-image: -webkit-linear-gradient(#d62229, #ab171e);
  background-image: -moz-linear-gradient(#d62229, #ab171e);
  background-image: -o-linear-gradient(#d62229, #ab171e);
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

input {
  -webkit-appearance: none; /*this is necessary for the search form's style to appear on the page in safari*/
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

#flash{
  display: none;
  text-align: center;
  font-size: .9em;
  width: 80%;
  margin: 0 auto;
  color: #474747;
  font-weight: bold;
  padding: 2px;
  background-color: white;
  opacity: .8;
  font-size: 20px;
}

#main {
 background: url(../images/tea.jpg) no-repeat center center fixed;
 background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 100%;
box-shadow: 0 0 5px #888;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
-o-box-shadow: 0 0 5px#888;
}

#masthead {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2%;
  font-family: 'Lato', sans-serif;
}

#meal {
  width: 30%;
  height: 20%;
  float: left;
  margin-left: 4%;
}

#mealName {
  margin: 0 auto;
  margin-top: 3%;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

#menu {
  text-align: center;
  width: 40%;
  height: 20%;
  float: left;
  overflow-y: auto;
  max-height: 500px;
  cursor: pointer;
  padding-right: 10px;
}

#menuHeader, #mealHeader, #totalHeader {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom: 1px solid #a3a3a3;
}

#menu-search {
  font-size: 10px;
  padding: 10px 2px 10px 5px;
  text-align: left;
  min-width: 200px;
  width: 25%;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  -webkit-box-shadow: inset 1px 1px 2px 0 #707070;
  -moz-box-shadow: inset 1px 1px 2px 0 #707070;
  -o-box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}

#menu-search:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -webkit-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -moz-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -o-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

#search {
  margin: 0 auto;
  text-align: center;
}

#total {
  width: 45%;
  height: 20%;
  text-align: center;
  margin-left: 5%;
  padding: 2px;
  max-width: 60%;
}

#total-items {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  text-align: left;
}

#total-buttons button {
  margin-bottom: 10%;
}

.addItem{
  margin-bottom: 3%;
}

.button1 {
  text-align: center;
  min-width: 60px;
  width: 10%;
  height: 20%;
  font-family: 'Pontano Sans', sans-serif;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  color: #e7f3f2;
  border: 1px solid #ab171e;
	background-color: #ab171e;
	border-radius: 3px;
  background-image: linear-gradient(#d62229, #ab171e);
	background-image: -webkit-linear-gradient(#d62229, #ab171e);
}

.button1:hover {
  opacity: .8;
  cursor: pointer;
}

.data {
  text-align: left;
  margin-left: 15%;
  padding: 3%;
  background: white;
  margin-right: 6%;
  max-width: 100%;
}

.header {
  text-align: center;
  height: 5%;
  font-size: 1em;
  color: #666666;
  background: -webkit-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: -o-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  -o-box-shadow: 0 0 5px #888;
}

.itemInfo {
  background: white;
  padding: 3%;
  margin-right: 6%;
}

.itemName {
  padding: 3%;
  margin-right: 6%;
}

.itemName:hover{
  opacity: .8;
  color: #a3a3a3;
}

.main-content {
  width: 80%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  display: -webkit-box; /* webkit should also cover opera for flexbox */
  display: -webkit-flex; /* -moz- prefix breaks flexbox display in firefox */
  display: -ms-flexbox;
  justify-content: center;
  align-items: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -o-align-items: baseline;
  background-color: #e7f3f2;
  opacity: .9;
  padding: 2%;
  margin-bottom: 50px;
}

@media (max-width: 950px) {

  #flash{
    font-size: 16px;
  }

  #mealName {
    font-size: 8px;
  }

  #menu-search {
    font-size: 8px;
  }

  #total-items {
    width: 60%;
  }
}

@media (max-width: 850px) {

  * {
    font-size: 98%;
  }
}

@media (max-width: 700px) {

  * {
    font-size: 95%;
  }

  button {
    min-width: 75px;
    width: 10%;
    height: 20%;
  }

  #flash{
    font-size: 12px;
  }

  #masthead {
    font-size: 1.5em;
  }

  #mealName {
    font-size: 6px;
  }

  .main-content {
    width: 90%;
    margin-bottom: 0;
  }
}
