/*body {
  font-family: arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}*/

.data {
  line-height: .1em;
  /*text-align: center;
  text-align: left;
  margin-left: 10%;
  font-weight: 200;*/
}
/*#nav, #search, {
  margin: 0 auto;
  text-align: center;
}

#search-results {
  border: 3px solid orange;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 300px;
}*/

/*#meal {
  border: 1px solid red;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}*/

#menu {
  /*border: 1px solid green;*/
  /*width: 300px;
  height: 300px;*/
  margin: 0 auto;
  text-align: center;
}

/*#total {
  border: 1px solid purple;
  width: 300px;
  height: 300px;
  margin-left: 600px;
  margin-top: -300px;
}*/

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  margin-top: 1%;
  background: gainsboro;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  /*padding: 2em;*/
  margin: 0 auto;
  text-align: center;
  font-family: arial, sans-serif;
}

h4 {
  background: #34d95a;
  background-image: -webkit-linear-gradient(top, #34d95a, #2bb8b1);
  background-image: -moz-linear-gradient(top, #34d95a, #2bb8b1);
  background-image: -ms-linear-gradient(top, #34d95a, #2bb8b1);
  background-image: -o-linear-gradient(top, #34d95a, #2bb8b1);
  background-image: linear-gradient(to bottom, #34d95a, #2bb8b1);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 33%;
  margin: auto;
}
