@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700|Pontano+Sans);

body {
  margin: 0 auto;
  /*text-align: center;*/
  font-family: 'Pontano Sans', sans-serif;
  /*background-image: url(../images/girl.jpg);*/
}

#masthead {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2%;
  font-family: 'Pontano Sans', sans-serif;
}

#search {
  margin: 0 auto;
  text-align: center;
}

input[type="search"] {
  padding: 10px;
  text-align: left;
  min-width: 250px;
  width: 25%;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

input[type="search"]:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

button {
  text-align: center;
  min-width: 90px;
  width: 10%;
  height: 20%;
  font-family: 'Pontano Sans', sans-serif;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  color: #e7f3f2;
  border: 1px solid #ab171e;
	background-color: #ab171e;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(#d62229, #ab171e);
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

.button1 {
  text-align: center;
  min-width: 90px;
  width: 10%;
  height: 20%;
  font-family: 'Pontano Sans', sans-serif;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  color: #e7f3f2;
  border: 1px solid #ab171e;
	background-color: #ab171e;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(#d62229, #ab171e);
}
.button1:hover {
  opacity: .8;
  cursor: pointer;
}

/*.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}*/

#main {
 /*background-image: url(../images/apple.jpg);*/
 background: url(../images/tea.jpg) no-repeat center center fixed;
 /*background-size: cover;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 100%;
}

.header {
  text-align: center;
  height: 5%;
  font-size: 1em;
  color: #666666;
  background: -webkit-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: -o-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.itemInfo {
  background: white;
  padding: 3%;
  margin-right: 6%;
}

.itemName {
  /*background: white;*/
  padding: 3%;
  margin-right: 6%;
}

.itemName:hover{
  opacity: .8;
  color: #a3a3a3;
}

.data {
  /*line-height: .1em;*/
  text-align: left;
  margin-left: 15%;
  /*margin-bottom: 2%;*/
  padding: 1%;
  background: white;
  margin-right: 6%;
  max-width: 70%;
}

.addItem{
  margin-bottom: 3%;
}
/*#titles {
  text-align: center;
  width: 94%;
  height: 20%;
  margin: 0 auto;
  font-weight: bold;
  list-style: none;
  background-color: #e7f3f2;
}*/

.main-content {
  width: 90%;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #e7f3f2;
  /*background-color: white;*/
  opacity: .9;
  padding: 2%;
}

#menu {
  /*border: 1px solid orange;*/
  /*width: 300px;
  height: 300px;*/
  /*margin: 0 auto;*/
  text-align: center;
  /*margin-left: 1px;*/
  width: 40%;
  height: 20%;
  float: left;
  overflow-y: auto;
  max-height: 500px;
  cursor: pointer;
}

/*#menu :hover {
  color: red;
  cursor: pointer;
}*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

#meal {
  /*border: 1px solid blue;*/
  width: 30%;
  height: 20%;
  float: left;
  margin-left: 6%;
}

#total {
  /*border: 1px solid red;*/
  width: 30%;
  height: 20%;
  /*float: left;*/
  text-align: left;
  margin-left: 5%;
  padding: 2px;
  /*background: white;*/
  /*margin-right: 6%;*/
  max-width: 60%;
}

#total p {
  margin-left: 23%;
}

#mealName {
  margin-left: 23%;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

#save-meal {
  margin-left: 35%;
}

#menuHeader, #mealHeader, #totalHeader {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

#flash{
  display: none;
  text-align: center;
  margin-bottom: 2%;
  font-size: .9em;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2%;
}
