/*@font-face {
  font-family: 'Transat Text Standard';
  src: url('http://localhost:3000/public/fonts/transat_text.ttf') format('truetype');
}*/

@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700|Pontano+Sans);

body {
  /*padding: 2em;*/
  margin: 0 auto;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
}

#masthead {
  font-size: 2.5em;
  font-weight: bold;
}

input[type="search"] {
  padding: 10px;
  text-align: center;
  min-width: 250px;
  width: 25%;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

input[type="search"]:focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
/*.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
}*/

.button1 {
  min-width: 80px;
  width: 10%;
  height: 20%;
  /*color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 3px #6496c8;*/
  font-family: 'Pontano Sans', sans-serif;
  font-size: .9em;
  text-align: center;
  font-weight: bold;
  margin: 1%;
  /*padding: 5px 15px;*/
  /*outline: none;*/
  color: #e7f3f2;
  border: 1px solid #ab171e;
	background-color: #ab171e;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(#d62229, #ab171e);
}
.button1:hover {
  opacity: .9;
}

/*body {
  font-family: arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}*/

.data {
  line-height: .1em;
  /*text-align: center;
  text-align: left;
  margin-left: 10%;
  font-weight: 200;*/
}
/*#nav, #search, {
  margin: 0 auto;
  text-align: center;
}

#search-results {
  border: 3px solid orange;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 300px;
}*/

/*#meal {
  border: 1px solid red;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}*/

#menu {
  /*border: 1px solid green;*/
  /*width: 300px;
  height: 300px;*/
  margin: 0 auto;
  text-align: center;
  max-height: 10%;
}

/*#total {
  border: 1px solid purple;
  width: 300px;
  height: 300px;
  margin-left: 600px;
  margin-top: -300px;
}*/

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  /*margin-top: 1%;
  background: gainsboro;*/
  height: 5%;
  font-size: 1em;
  color: #666666;
  background: -webkit-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: -o-linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  background: linear-gradient(white 0%, white 55%, #e6e6e6 130%);
  moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  border: 1px solid deepskyblue;
}

.aside-1 {
<<<<<<< HEAD
  border: 1px solid gold;
=======
  border-style: solid;
  height: 300px;
  width: 200px;
  padding: 25px;
  border: 2px solid black;
  margin: 25px;
  float: left;
  overflow: scroll;
>>>>>>> oojs_3
}

.aside-2 {
  border: 1px solid hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  /*padding: 2em;*/
  margin: 0 auto;
  text-align: center;
  font-family: arial, sans-serif;
}
