<!DOCTYPE html>
<html>
  <head>
    <title>Menu Builder</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='stylesheets/bootstrap-responsive.css'>
    <link rel="stylesheet" type="text/css" href="site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>
  <body>
    <header>
      <h1>Menu Builder</h1>
    </header>
    <main>
      <div id="wrapper">
        <div id="tile"><img src="http://placehold.it/250x250"></div>
        <div id="tile"><img src="http://placehold.it/250x250"></div>
        <div id="tile"><img src="http://placehold.it/250x250"></div>
        <div id="tile"><img src="http://placehold.it/250x250"></div>
        <div id="tile"><img src="http://placehold.it/250x250"></div>
        <div id="tile"><img src="http://placehold.it/250x250"></div>
      </div>
    </main>
  </body>
</html>
